/* the stylesheet requires different syntax than your html file, see what follows, as an example: */
body {
  background-color: white;
  font-family: Georgia, serif;
  font-size: 150%;
}

h1 {
  color: #176acf;
  margin-left: 10px;
  font-family: 'Avant Garde',"Helvetica Neue", Helvetica, Arial, sans-serif;
}

p, ul, li {
	margin-left: 100px;
}

footer {
	background-color: #EFEFEF;
	font-family:"lucida calligraphy",cursive;
	font-size: 2.5em;
	font-style: oblique;
	padding: 20px;
	margin: 0px auto;
	text-align: center;
}